root = true

# source: https://github.com/google/yamlfmt/blob/main/docs/config-file.md#basic-formatter
# source: https://developer.hashicorp.com/terraform/language/style#code-formatting
# source: https://google.github.io/styleguide/javaguide.html#s4-formatting
# source: https://github.com/prettier/prettier/blob/main/docs/configuration.md#editorconfig
[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# source: https://go.dev/doc/effective_go#formatting and https://github.com/golang/go/blob/master/src/cmd/gofmt/gofmt.go
[*.go,go.mod,go.sum]
indent_style = tab
tab_width = 8
