export EHUBNAMESPACECONNECTIONSTRING=
export EVENTHUBNAME=
export BLOBSTORAGECONNECTIONSTRING=
export BLOBCONTAINERNAME= 
export WEBSINKURL=
export POSTMAXRETRIES=5
export POSTRETRYINCREMENTALDELAY=1000
export RATELIMITEREVENTSPERSECONDS=10
export RATELIMITERBURST=50
export LOGLEVEL=info
